/*
 * Less functions
 */
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@arguments) {
	-webkit-transform: @arguments;
	-khtml-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}
.box-sizing(@arguments) {
	-webkit-box-sizing: @arguments;
	-moz-box-sizing: @arguments;
	box-sizing: @arguments;
}
.font-smoothing(@arguments) {
	-webkit-font-smoothing: @arguments;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
	background: @color;
	background:	-webkit-gradient(linear,
				left bottom,
				left top,
				color-stop(0, @start),
				color-stop(1, @stop));
	background:	-ms-linear-gradient(bottom,
				@start,
				@stop);
	background:	-moz-linear-gradient(center bottom,
				@start 0%,
				@stop 100%);
	background:	-o-linear-gradient(@stop,
				@start);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.placeholder(@color) {
	::-webkit-input-placeholder {
		color: @color;
	}
	:-moz-placeholder {
		color: @color;
	}
	::-moz-placeholder {
		color: @color;
	}
	::-ms-input-placeholder {
		color: @color;
	}
}

/*
 * LigatureSymbols font
 */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.11.eot');
    src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal !important;
  font-style: normal !important;
  text-transform: none !important;
  font-size: 150%;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
	background: #f0f0f0;
	font-size: 12px;
	line-height: 18px;
	&::-webkit-scrollbar {
		width: 15px;
		.border-radius(5px);
	}
	&::-webkit-scrollbar-thumb {
		background: #333;
		.border-radius(15px);
		border: 5px #fff solid;
	}
}

.loading-map > * {
	display: none;
}

.displaying-map {
	overflow: hidden;
}

@top: 120px;
@bottom: 40px;

@mural: #fbe900;
@grafite: #3ec744;
@escultura: #f32419;
@arquitetura: #3ebee2;

.button,
a.button,
button {
	padding: 10px;
	font-size: 10px;
	line-height: 10px;
	.gradient(#333, #333, #444);
	color: #f0f0f0;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	border: 1px solid #333;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
	display: block;
	float: left;
	cursor: pointer;
	&.remove {
		.gradient(darken(@escultura, 25%), darken(@escultura, 25%), darken(@escultura, 15%));
	}
}

#masthead,
.displaying-map #masthead {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	width: 100%;
	height: @top;
	background: #1f1f1f;
	z-index: 900;
	.transition(all .2s ease-in-out);
	&.scrolled {
		height: @top/1.7;
		.site-meta {
			margin: 18px 0;
			h1 {
				height: 40px;
			}
		}
		#masthead-nav {
			margin-top: 15px;
		}
	}
	.site-meta {
		margin: 35px 0;
		.transition(margin .2s ease-in-out);
		h1 {
			margin: 0;
			line-height: 0px;
			text-indent: -9999px;
			height: 50px;
			.transition(all .2s ease-in-out);
			img {
				display: block;
				height: 100%;
				width: auto;
				.transition(all .2s ease-in-out);
			}
		}
	}
	#masthead-nav {
		.box-shadow(0 0 0);
		.border-radius(0 0 0 0);
		background: transparent;
		margin-top: 40px;
		position: static;
		.transition(margin-top .2s ease-in-out);
		nav {
			ul {
				> li {
					margin: 0 10px 0 0;
					> a {
						font-weight: 200;
						text-transform: uppercase;
						font-size: 14px;
						border-bottom: 1px solid transparent;
						.border-radius(0 0 0 0);
						color: #999;
						&:hover {
							color: #f0f0f0;
							background: transparent;
						}
					}
					&.current-menu-item a,
					&.current-post-ancestor a,
					&.current-menu-parent a,
					&.current-post-parent a {
						.box-shadow(0 0 15px rgba(0,0,0,0.8));
						color: #fff;
						font-weight: 600;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
					}
					&.grafite {
						a:hover {
							border-color: darken(@grafite, 10%);
						}
						&.current-menu-item a,
						&.current-post-ancestor a,
						&.current-menu-parent a,
						&.current-post-parent a {
							background-color: darken(@grafite, 25%);
							.gradient(darken(@grafite, 25%), darken(@grafite, 25%), darken(@grafite, 15%));
						}
					}
					&.mural {
						a:hover {
							border-color: darken(@mural, 10%);
						}
						&.current-menu-item a,
						&.current-post-ancestor a,
						&.current-menu-parent a,
						&.current-post-parent a {
							background-color: darken(@mural, 25%);
							.gradient(darken(@mural, 25%), darken(@mural, 25%), darken(@mural, 15%));
						}
					}
					&.arquitetura {
						a:hover {
							border-color: darken(@arquitetura, 10%);
							background: transparent;
						}
						&.current-menu-item a,
						&.current-post-ancestor a,
						&.current-menu-parent a,
						&.current-post-parent a {
							background-color: darken(@arquitetura, 25%);
							.gradient(darken(@arquitetura, 25%), darken(@arquitetura, 25%), darken(@arquitetura, 15%));
						}
					}
					&.escultura {
						a:hover {
							border-color: darken(@escultura, 10%);
							background: transparent;
						}
						&.current-menu-item a,
						&.current-post-ancestor a,
						&.current-menu-parent a,
						&.current-post-parent a {
							background-color: darken(@escultura, 25%);
							.gradient(darken(@escultura, 25%), darken(@escultura, 25%), darken(@escultura, 15%));
						}
					}
				}
			}
		}
		#searchform {
			position: relative;
			float: left;
			margin-right: 20px;
			width: 38px;
			height: 38px;
			z-index: 2;
			> div {
				background: #1f1f1f;
				height: 38px;
				clear: both;
				input#s {
					position: relative;
					float: right;
					background: transparent;
					width: 0;
					padding: 13px 20px;
					z-index: 3;
					max-width: none;
					clear: both;
					margin-top: -3px;
					&:hover,
					&:focus {
						width: 450px;
						padding: 13px 40px 13px 10px;
						background-color: #141414;
						z-index: 1;
					}
				}
				&:hover {
					input#s {
						width: 450px;
						padding: 13px 40px 13px 10px;
						background-color: #141414;
						z-index: 1;
					}
				}
				&:before {
					content: '';
					background: url(../img/search-icon.png);
					width: 16px;
					height: 16px;
					top: 11px;
					left: 10px;
					position: absolute;
					z-index: 2;
				}
			}
		}
		.user-meta {
			float: left;
			position: relative;
			z-index: 100;
			.dropdown-title {
				border: 1px solid #111;
				padding: 9px 10px;
				display: block;
				text-transform: uppercase;
				color: #f9f9f9;
				font-weight: 800;
				.gradient(#1f1f1f, #191919, #1f1f1f);
				text-shadow: 1px 1px 1px rgba(0,0,0,1);
				position: relative;
				cursor: default;
				z-index: 2;
				.arrow {
					font-size: 100%;
					margin-left: 10px;
				}
				.lsf.icon {
					margin-right: 10px;
				}
			}
			.dropdown-content {
				display: none;
				position: absolute;
				top: 38px;
				right: 0;
				width: 220px;
				background: #f0f0f0;
				.gradient(#f0f0f0, #ddd, #f0f0f0);
				.box-shadow(0 0 15px rgba(0,0,0,0.6));
				.login-content {
					margin: 10px;
					p {
						margin: 0 0 10px;
						color: #999;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 10px;
					}
					.oneall_social_login {
						height: 40px;
						overflow: hidden;
					}
				}
				.logged-in {
					p {
						padding: 20px 15px;
						margin: 0;
						color: #999;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 10px;
						line-height: 10px;
						border-bottom: 1px solid #ccc;
					}
					.logout {
						text-decoration: none;
						float: right;
					}
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						margin: 0;
						padding: 0;
						border-bottom: 1px solid #ccc;
						&:last-child {
							border-bottom: 0;
						}
						a {
							padding: 20px 15px;
							text-decoration: none;
							display: block;
							font-weight: 800;
							text-transform: uppercase;
							font-size: 10px;
							line-height: 10px;
							color: #555;
							&:hover {
								.gradient(#333, #222, #333);
								color: #f0f0f0;
							}
						}
					}
				}
			}
			&:hover {
				.dropdown-title {
					color: #333;
					.gradient(#f0f0f0, #f0f0f0, #ccc);
					text-shadow: 0 0 0;
					border-color: #f0f0f0;
					&:after {
						background-position: 0 -8px;
					}
				}
				.dropdown-content {
					display: block;
				}
			}
		}
	}
}

.posts-section {
	.posts-list {
		color: #444;
		article {
			min-height: 0;
			.border-radius(0);
			.post-header {
				#remove_artwork {
					float: right;
					button {
						.gradient(#fff, #eee, #fff);
						border: 0;
						display: block;
						color: lighten(red, 20%);
						border: 1px solid lighten(red, 30%);
						font-size: 14px;
						line-height: 10px;
						text-shadow: 0 0 0;
						&:hover {
							background: #fff !important;
						}
						&:active {
							.gradient(#ccc, #fff, #ccc);
						}
					}
				}
			}
			.post-content {
				padding: 0 20px 40px 20px;
				.post-excerpt {
					max-height: none !important;
				}
			}
			.actions {
				.gradient(#222, #222, #303030);
				.border-radius(0);
				border-bottom: 1px solid #303030;
				a {
					.lsf {
						font-size: 200%;
						margin-right: 5px;
						color: #555;
						line-height: 10px;
					}
				}
			}
		}
	}
}

.home .map-container,
.map-container {
	position: absolute;
	top: @top;
	bottom: @bottom;
	left: 0;
	right: 35%;
	.map {
		width: 100%;
		height: 100%;
	}
}

.displaying-map #content {
	color: #f0f0f0;
	background: #333;
	position: absolute;
	top: @top;
	bottom: @bottom;
	right: 0;
	padding: 40px;
	width: 35%;
	min-width: 350px;
	overflow: auto;
	.box-sizing(border-box);
	margin: 0;
	.box-shadow(0 0 15px rgba(0,0,0,0.9));
	.section-title {
		background: transparent;
		padding: 0;
		.box-shadow(0 0 0);
		h2 {
			color: #f0f0f0;
			font-size: 16px;
			line-height: 20px;
			margin: 0;
			padding-bottom: 5px;
			border-bottom: 1px dotted #555;
		}
	}
	.single-post-header {
		background: transparent;
		padding: 0 0 10px 0;
		margin: 0 0 30px 0;
		z-index: 200;
		border-bottom: 1px solid #222;
		h1 {
			color: #f0f0f0;
			font-size: 32px;
			line-height: 32px;
			margin: 0;
			padding: 0;
			font-weight: 200;
			text-transform: uppercase;
			.jeditable-container {
				textarea,
				input {
					max-width: 300px;
					margin-bottom: 20px;
					display: block;
					font-size: 32px;
					line-height: 32px;
					font-weight: 200;
					padding: 0;
					border: 0;
					background: transparent;
					color: inherit;
					font-family: "Open Sans", sans-serif;
					overflow: hidden;
					outline: none;
					.box-shadow(0 0 0);
				}
			}
		}
	}
}

#content {
	position: static;
	overflow: visible;
	padding-top: @top;
	padding-bottom: @bottom;
	&::-webkit-scrollbar {
		width: 15px;
		.border-radius(5px);
	}
	&::-webkit-scrollbar-thumb {
		background: #111;
		.border-radius(15px);
		border: 5px #333 solid;
	}
	&:hover {
		&::-webkit-scrollbar-thumb {
			background: #000;
		}
	}
	.single-post-header {
		margin-bottom: 40px;
		h1 {
			float:left;
			color: #777;
			img {
				margin-right: 30px;
				display: block;
				float: left;
			}
		}
		h2 {
			float: left;
			font-size: 20px;
			font-weight: 200;
			color: #999;
			margin: 10px 0 0 25px;
		}
		.button {
			float: right;
			margin-top: 5px;
			padding: 15px;
		}
	}
	.regular-list {
		&.art-guide {
			article {
				border-bottom: 1px dotted #ccc;
				margin: 0 0 40px;
				padding-bottom: 20px;
				.artwork-mosaic { 
					margin-bottom: 20px;
					position: relative;
					height: 200px;
					.box-shadow(0 2px 4px rgba(0,0,0,0.2));
					.image-container {
						float: left;
						overflow: hidden;
						&.image-1-container {
							width: 80%;
							height: 100%;
							top: 0;
							left: 0;
						}
						&.image-2-container {
							width: 30%;
							position: absolute;
							top: 0;
							right: 0;
						}
						&.image-3-container {
							width: 50%;
							height: 100%;
							position: absolute;
							bottom: 0;
							right: 0;
							img {
								margin-top: 50%;
							}
						}
						img {
							width: 100%;
							height: auto;
						}
					}
					&.images-1 {
						.image-1-container {
							width: 100%;
						}
					}
					&.images-2 {
						.image-1-container {
							width: auto !important;
							height: 100% !important;
							img {
								margin-left: -20%;
							}
						}
						.image-2-container {
							width: auto !important;
							height: 100%;
							img {
								margin-left: 55%;
							}
						}
					}
				}
				.post-header {
					h2 {
						font-size: 22px;
						line-height: 28px;
						margin-bottom: 20px;
						a {
							text-decoration: none;
						}
						.jeditable-container {
							textarea,
							input {
								margin-bottom: 20px;
								display: block;
								font-size: 22px;
								line-height: 28px;
								font-weight: 800;
								padding: 0;
								border: 0;
								background: transparent;
								color: inherit;
								font-family: "Open Sans", sans-serif;
								overflow: hidden;
								outline: none;
								.box-shadow(0 0 0);
							}
						}
					}
					p {
						font-weight: 200;
						margin-bottom: 7px;
						.lsf {
							margin-right: 10px;
							color: #999;
							text-align: center;
							display: block;
							float: left;
							width: 15px;
							padding-top: 2px;
						}
					}
					.buttons {
						margin: 20px 0;
						> * {
							margin-right: 10px;
							.lsf {
								margin-right: 5px;
							}
						}
					}
				}
				.post-content {
					border-left: 1px dotted #ccc;
					padding-left: 20px;
				}
			}
		}
	}
}

#colophon {
	position: fixed;
	bottom: 0;
	height: @bottom;
	width: 100%;
	background: #1f1f1f;
	#footer-nav {
		ul {
			margin: 15px 0;
			padding: 0;
			li {
				float: left;
				margin: 0;
				padding: 0;
				font-size: 10px;
				line-height: 10px;
				a {
					display: block;
					color: #999;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 800;
					&:hover {
						color: #f1f1f1;
					}
				}
			}
		}
	}
}

/*
 * Lightbox section
 */

.lightbox_section {
	display: none;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	.close-area {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.lightbox_content {
		margin: 4% auto;
		width: 60%;
		max-width: 700px;
		max-height: 75%;
		padding: 2.5%;
		overflow: auto;
		background: #f0f0f0;
		color: #333;
		position: relative;
		z-index: 2;
		.box-shadow(0 0 50px rgba(0,0,0,1));
		&::-webkit-scrollbar {
			width: 15px;
			.border-radius(5px);
		}
		&::-webkit-scrollbar-thumb {
			background: #333;
			.border-radius(15px);
			border: 5px #f0f0f0 solid;
		}
		h1,
		h2 {
			font-weight: 200;
			margin-bottom: 30px;
			color: #999;
			font-size: 22px;
			line-height: 22px;
			span {
				font-weight: 800;
			}
		}
		h3 {
			font-weight: 800;
			font-size: 14px;
			line-height: 14px;
			color: #333;
			text-transform: uppercase;
		}
	}
}

/*
 * Add artwork to art guide page
 */

#add_artwork,
#add_guide {
	.error-message {
		padding: 10px;
		background: lighten(red, 40%);
		border: 1px solid lighten(red, 20%);
		font-weight: 600;
	}
	.form-inputs,
	.form-actions {
		float: left;
	}
	.form-inputs {
		width: 65%;
		margin-right: 5%;
		input[type=text],
		textarea,
		select {
			width: 100%;
			padding: 10px;
			font-family: "Open Sans";
		}
	}
	.form-actions {
		margin-top: 28px;
		float: right;
		input[type=submit],
		.close-box {
			border: 0;
			.gradient(#ccc, #ccc, #ddd);
			padding: 12px;
			margin: 0;
			text-decoration: none;
			font-weight: 200;
			font-size: 12px;
			color: #333;
			font-family: "Open Sans";
			display: inline;
		}
		input[type=submit] {
			font-weight: 800;
			cursor: pointer;
			.gradient(#333, #333, #444);
			color: #f0f0f0;
			.box-shadow(inset 0 0 3px rgba(255,255,255,0.15));
			text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		}
	}
	#add_to_existing_guide {
		margin-bottom: 20px;
		border-bottom: 1px dotted #aaa;
	}
	#add_to_new_guide,
	#new_guide {
		.form-inputs {
			width: 100%;
			margin: 0;
			.title {
				font-size: 28px;
				padding: 12px;
				line-height: 28px;
				font-weight: 200;
				font-family: "Open Sans";
			}
			textarea {
				padding: 15px;
			}
		}
		.form-actions {
			margin: 0;
		}
	}
}


/*
 * jeditable
 */

.jeditable-container {
	position: relative;
	display: block;
	button {
		.lsf;
		position: absolute;
		font-size: 16px !important;
		line-height: 16px !important;
		bottom: -35px;
		padding: 5px;
		left: 0;
		&[type=cancel] {
			left: 25px;
		}
		&[type=submit] {
			.gradient(green, darken(green, 5%), green);
		}
	}
	.tip {
		position: absolute;
		top: -12px;
		left: 0px;
		font-size: 9px;
		line-height: 9px;
		font-weight: 600;
		color: #999;
		text-transform: uppercase;
		display: none;
	}
	&:hover {
		.tip {
			display: block;
		}
	}
}

body.wysiwyg {
	.box-sizing(border-box);
	padding: 0 10px 10px 10px;
	&::-webkit-scrollbar {
		width: 15px;
		.border-radius(5px);
	}
	&::-webkit-scrollbar-thumb {
		background: #333;
		.border-radius(15px);
		border: 5px #f0f0f0 solid;
	}
}

body.wysiwyg p {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}


/*
 * Responsive
 */

@media only screen and (min-height: 0) and (max-height: 650px) {
	#masthead,
	.displaying-map #masthead {
		height: @top/1.2;
		.site-meta {
			margin: 28px 0;
		}
		#masthead-nav {
			margin: 33px 0;
		}
	}
	#content {
		padding-top: @top/1.2;
	}
	.displaying-map #content {
		top: @top/1.2;
		padding-top: 40px;
	}
	.home .map-container,
	.map-container {
		top: @top/1.2;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#masthead {
		.user-meta {
			.user-name {
				display:none;
			}
		}
	}
}

// responsive nav
.js #main-nav {
	position: relative;
	max-height: none;
	top: auto;
	right: auto;
}
#nav-toggle {
	display: none;
}
@media screen and (max-width: 767px) {
	.hide-if-mobile {
		display: none !important;
	}
	#masthead {
		&.scrolled {
			height: 0;
			overflow: hidden;
		}
		#masthead-nav {
			#searchform {
				width: 40%;
				height: auto;
				position: absolute;
				top: 35px;
				right: 0;
				margin: 0;
				> div {
					width: auto;
					height: auto;
					input#s {
						width: 100%;
						height: auto;
						box-sizing: border-box;
						padding: 13px 13px 13px 40px !important;
						background: #111;
						z-index: 1;
						&:hover,
						&:focus {
							width: 100%;
							padding: 13px 13px 13px 40px !important;
						}
					}
					&:hover {
						input#s {
							padding: 13px 13px 13px 40px !important;
						}
					}
				}
			}
		}
	}
	.js #main-nav {
		//clip: rect(0 0 0 0);
		max-height: 0;
		position: absolute !important;
		display: block;
		overflow: hidden;
		zoom: 1;
		top: @top;
		right: 0px;
		left: 0px;
		z-index: 99999;
		ul {
			margin: 0;
			padding: 0;
			li {
				float: none !important;
				display: block;
				margin: 0 !important;
				a {
					float:none !important;
					display: block;
					padding: 10px;
					background: #222;
					.gradient(#303030, #222, #303030);
					color: #f0f0f0 !important;
					border-bottom: 1px solid #000 !important;
					&:hover {
						background: #000 !important;
						color: #fff;
					}
				}
			}
		}
	}
	.js #main-nav.opened {
		z-index: 99999;
		max-height: 9999px;
	}
	#nav-toggle {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
}